	body{margin:0px;
	}
	/*顶端工具栏*/
	.top{
		padding-left:3%;
		padding-right:3%;
		background-color:black;
		height:70px;
		width:94%;
	}
	/*Github标题*/
	.g{
		color:yellow;
		float:left;
		padding:0px;
		margin:0px;
		text-align:left;
		height:70px;
		font-size:40px;
		line-height:70px;
	}
	/*搜索输入框*/
	.in{
		width:360px;
		height:50px;
		line-height:50px;
		font-size:30px;
		position:absolute;
		margin-top:10px;
		margin-bottom:10px;
		left:50%;
		margin-left:-360px;
	}
	/*3个自定义空间*/
	.ud1{
		background-color:red;
		color:black;
		padding:0px;
		font-size:30px;
		width:120px;
		height:50px;
		margin-top:10px;
		margin-bottom:10px;
		position:absolute;
		left:50%;
		margin-left:0px;
	}
	.ud2{
		background-color:white;
		color:black;
		padding:0px;
		font-size:30px;
		width:120px;
		height:50px;
		margin-top:10px;
		margin-bottom:10px;
		position:absolute;
		left:50%;
		margin-left:120px;
	}
	.ud3{
		background-color:blue;
		color:black;
		padding:0px;
		font-size:30px;
		width:120px;
		height:50px;
		margin-top:10px;
		margin-bottom:10px;
		position:absolute;
		left:50%;
		margin-left:240px;
	}
	/*用户名显示*/
	.lb{
		color:white;
		width:80px;
		height:70px;
		float:right;
		line-height:70px;
		font-size:30px;
		margin-top:0px;
		margin-bottom:0px;
		margin-right:25px;
	}
	/*内容容器*/
	.l{
		background-color:grey;
		color:yellow;
		width:94%;
		margin:0px;
		height:600px;
		position:absolute;
		top:70px;
		padding-top:0px;
		padding-left:3%;
		padding-right:3%;
	}
	/*用户名触发的菜单*/
	.h{
		background-color:white;
		position:absolute;
		z-index:2;
		left:80%;
		width:250px;
		height:0px;
		margin-top:0px;
		padding-top:0px;
	}
	/*各个菜单选项*/
	.b{
		background-color:black;
		color:yellow;
		height:0px;
		width:250px;
		float:right;
		border-color:yellow;
		border-width:0px;
		border-style:solid;
		text-align:center;
		font-size:0px;
		line-height:21px;
		margin-top:0px;
	}
	/*Gist简介*/
	.gistintro{
		color:black;
		font-size:10px;
		background-color:white;
		height:70px;
		width:1200px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:0px;
	}
	/*Gist 标题标题*/
	.gistetitle{
		font-size:30px;
		background-color:black;
		height:70px;
		width:600px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:0px;
	}
	/*Gist 描述标题*/
	.gistedescription{
		font-size:30px;
		background-color:black;
		height:70px;
		width:600px;
		position:absolute;
		left:50%;
		margin-left:0px;
		top:0px;
	}
	/*Gist标题输入框*/
	.gisttitle{
		background-color:grey;
		font-size:30px;
		height:70px;
		width:600px;
		position:absolute;
		left:50%;
		top:70px;
		margin-left:-600px;
	}
	/*Gist描述输入框*/
	.gistdescription{
		background-color:grey;
		font-size:30px;
		height:70px;
		width:600px;
		position:absolute;
		left:50%;
		top:70px;
		margin-left:0px;
	}
	/*Gist内容title*/
	.gistctitle{
		font-size:30px;
		background-color:black;
		height:70px;
		width:1200px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:140px;
	}
	/*Gist内容容器*/
	.gistcontentbox{
		font-size:30px;
		background-color:purple;
		height:700px;
		width:1200px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:70px;
	}
	/*Gist内容*/
	.gistcontent{
		background-color:white;
		font-size:30px;
		height:420px;
		width:1200px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:210px;
	}
	/*Gist属性*/
	.gistproperty1{
		background-color:red;
		height:70px;
		width:300px;
		position:absolute;
		left:50%;
		margin-left:-600px;
		top:630px;
	}
	.gistproperty2{
		background-color:green;
		height:70px;
		width:300px;
		position:absolute;
		left:50%;
		margin-left:-300px;
		top:630px;
	}
	/*Gist发送*/
	.gistsend{
		background-color:blue;
		height:70px;
		width:140px;
		position:absolute;
		left:50%;
		margin-left:460px;
		top:630px;
	}